
@media (max-width: 1120px){
  .footer{
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__links{
      margin-bottom: 40px;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }
    &__mailing-title{
      text-align: center;
      font-size: 24px;
    }
  }
  .footer-menu,
  .footer-categories,
  .footer-info{
    margin-right: 20px;
  }
  .brand-story{
    &__content{
      padding: 64px 35px 40px 42px;
    }
  }
  .about-us{
    padding: 0 15px;
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    &__btn{
      margin-top: 30px;
    }
  }
  .product-card{
    .brand__img{
      max-width: 450px;
    }
  }
}

@media (max-width: 960px){
  .content{
    padding: 40px;
    &__link{
      order: 3;
    }
    &__text{
      margin-bottom: 30px;
    }
  }
  .brand{
    &__inner{
    margin-bottom: 0;
    }
    &__img{
      display: none;
    }
  }
  .advantages{
    &__list{
    flex-wrap: wrap;
    justify-content: center;
    }
  }
  .new-ceramics,
  .popular-products{
    padding-top: 30px;
  }
  .about-us{
    &__inner{
      flex-wrap: wrap;
    }
    &__imgbox{
      order: 2;
    }
    &__btn {
      margin: 40px auto 0;
    }
  }
  .slogan{
    margin-top: 15px;
  }
  .brand-story{
    padding: 32px 24px;
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    &__content{
      margin-bottom: 20px;
    }
    &__link {
      margin: 50px auto 0;
    }
  }
  .product-card{
    .brand__img{
      display: block;
    }
    &__content{
      margin-left: 28px;
    }
  }
  .shopping-baskets{
    padding: 55px 20px;
    &__box{
      padding: 42px 35px 30px;
    }
  }
}

@media (max-width: 830px){
  .product-card{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    &__content{
      margin: 20px 0 0 0;
      max-width: 100%;
      padding: 0 15px;
    }
    &__box-btn{
      text-align: center;
    }
  }
  .shopping-baskets{
    &__position{
      display: none;
    }
    &__item{
      width: 100%;
    }
  }
}

@media (max-width: 740px){
  .burger-menu{
    border: none;
    background: transparent;
    padding: 2px;
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    span{
      position: relative;
      width: 18px;
      height: 1px;
      background-color: $dark-primary;
      display:block;
      &::before,
      &::after{
        content:'';
        position: absolute;
        background-color: $dark-primary;
        height: 1px;
        right: 0;
        left: 0;
      }
      &::before{
        top: -4px;
      }
      &::after{
        bottom: -4px;
      }
    }
  }
  .burger-menu.active {
    span {
      background-color: transparent;
      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 0;
      }
    }
  }
  .navigation{
    background: $dark-primary;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    padding: 0;
    transform: translateY(-120%);
    transition: all .7s;
    &__list{
      flex-direction: column;
    }
    &__item{
      // position: static;
      margin: 15px auto;
    }
    &__link{
      color: $white;
      font-size: 22px;
    }
  }
  .navigation.active{
    transform: translateY(0);
  }
  .actions{
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 415px;
    margin: 80px auto 0;
    &__shopping-cart,
    &__account-btn{
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before{
        content:'';
        position: absolute;
        border: 1px solid $white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .4s ease;
      }
      &:active,
      &:hover{
        &::before{
          box-shadow: -2px 2px 15px #fff;
        }
      }
    }
    &__shopping-cart{
      margin-right: 0;
    }
  }
  .search__pop-up--width {
    width: 95%;
    height: 180px;
  }
  .social{
    display: none;
  }
  .footer{
    padding: 58px 40px 10px;
    &__copyright{
      justify-content: center;
    }
  }
  .new-ceramics,
  .popular-products{
    padding: 0;
  }
  .box-collection__items{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-bottom: 30px;
  }
  .benefits__item {
    margin: 0 15px;
  }
  .shopping-baskets{
    padding: 35px 10px;
    .product-card__inner-box{
      flex-direction: column;
      width: 120px;
    }
    .product-card__price{
      margin-top: 15px;
    }
    &__item{
      margin-right: 10px;
    }
    &__summ{
      display: none;
    }
  }
}

@media (max-width: 560px){
  .actions{
    justify-content: space-around;
    &__pop-up--width {
      width: 375px;
      height: 490px;
    }
  }
  .pop-up{
    &__close{
      right: 10px;
      top: 5px;
    }
    &__link{
      display: block;
      margin: 0;
      margin-top: 15px;
      }
  }
  .content {
    padding: 40px 24px 24px;
  }
  .advantages{
    padding: 45px 0;
    &__headline{
      margin-bottom: 32px;
    }
    &__list{
      gap: 30px;
    }
  }
  .footer {
    padding: 38px 15px 10px;
  }
  .slogan{
    &__title{
      font-size: 26px;
      line-height: 120%;
    }
  }
  .brand-story{
    &__content {
      padding: 30px 15px;
      text-align: center;
    }
  }
  .benefits{
    &__list{
      flex-direction: column;
      margin-bottom: 30px;
    }
    &__item{
      margin: 0 0 10px;
    }
    &__text{
      width: fit-content;
    }
  }
  .filter{
    padding: 20px 5px;
    margin-bottom: 0;
  }
  .pagination__arrow{
    display: none;
  }
  .product-card .brand__img {
    max-width: 390px;
  }
  .shopping-baskets{
    &__box-item{
      flex-wrap: wrap;
    }
    &__item{
      margin: 0;
    }
    &__subtotal,
    &__box-btn{
      justify-content: center;
    }
    .product-card__inner-box{
      flex-direction: row;
      width: 100%;
      margin-top: 20px;
    }
    .product-card__price{
      margin: 0;
    }
  }
}

@media (max-width: 420px){
  .actions__pop-up--width{
    width: 280px;
    padding: 50px 20px 20px;
  }
  .brand {
    padding: 60px 0 16px;
  }
  .box-collection__items{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 30px;
  }
  .box-collection__items--modified{
    grid-template-rows: repeat(2,1fr);
  }
  .box-collection__item--big{
    display: none;
  }
  .about-us__content {
    padding: 38px 25px 48px;
    text-align: center;
  }
  .product-card {
    .brand__img{
      max-width: 295px;
    }
    &__box-btn{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__inner-box{
      width: auto;
    }
    &__dimensions-item:nth-child(2) {
      padding: 0 20px;
      margin: 0 20px;
    }
  }
  .add-to-cart{
    width: 170px;
  }
  .save-to-favorites{
    margin: 20px 0 0 0;
  }
  .shopping-baskets{
    &__item{
      flex-direction: column;
    }
    &__descr{
      margin: 0;
      max-width: 100%;
    }
    &__box{
      padding: 30px 25px;
    }
  }
}

@media (max-width: 356px){
  .content__link{
    margin: 0 auto;
  }
  .footer-categories, 
  .footer-info {
    margin-top: 35px;
  }
  .footer__mailing-input,
  .newsletter__mailing-input{
    padding: 17px 10px;
  }
  .footer__mailing-title {
    text-align: left;
    font-size: 16px;
  }
  .products__title{
    margin-left: 15px;
  }
  .product-card{
    &__title {
      font-size: 32px;
    }
  }
}